<template>
    <server-member-wrapper current-page="Competitions">
        <div class="card">
            <div class="card-header">Open Competitions</div>
            <div class="card-body">
                <accordion-loader v-if="openUnsubmittedCompetitions === null" />
                <p v-else-if="!openUnsubmittedCompetitions.length">There are no open competitions that you have not yet submitted to.</p>
                <table class="table" v-else>
                    <thead>
                    <tr>
                        <th scope="col">Competition</th>
                        <th scope="col">Submissions Open</th>
                        <th scope="col">Submissions Close</th>
                        <th scope="col">&nbsp;</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="competition in openUnsubmittedCompetitions">
                        <td>{{ competition.name }}</td>
                        <td><moment :value="competition.startTime" format="MMM DD YYYY HH:mm z" include-relative/></td>
                        <td><moment :value="competition.endTime" format="MMM DD YYYY HH:mm z" include-relative/></td>
                        <td>
                            <button class="btn btn-link"
                                    data-bs-target="#competition-offcanvas"
                                    data-bs-toggle="offcanvas"
                                    v-if="new Date() > new Date(competition.startTime)"
                                    @click="beginSubmission(competition)">Submit Run</button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                My Submissions
            </div>
            <div class="card-body">
                <accordion-loader v-if="mySubmissions === null"/>
                <p v-else-if="!mySubmissions.length">No submissions found.</p>
                <table class="table" v-else>
                    <thead>
                    <tr>
                        <th scope="col">Competition</th>
                        <th scope="col">Platform</th>
                        <th scope="col">Time (Total)</th>
                        <th scope="col">Score (Total)</th>
                        <th scope="col">Status</th>
                        <th scope="col">&nbsp;</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="mySubmission in mySubmissions">
                        <td>{{ mySubmission.competitionName }}</td>
                        <td>{{ mySubmission.platform }}</td>
                        <td><elapsed-time-display :duration-in-seconds="mySubmission.durationInSeconds"/></td>
                        <td>{{ mySubmission.score }}</td>
                        <td>
                            <status-indicator :status="mySubmission.status" show-text/>
                        </td>
                        <td>
                            <button class="btn btn-link"
                                    data-bs-target="#competition-offcanvas"
                                    data-bs-toggle="offcanvas"
                                    @click="editSubmission(mySubmission)">Edit</button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="offcanvas offcanvas-end" tabindex="-1" id="competition-offcanvas" aria-labelledby="offcanvas-label">
            <div class="offcanvas-header" v-if="submissionForm.competition">
                <h5 class="offcanvas-title" id="offcanvas-label">{{ submissionForm.competition.name }}</h5>
                <button id="offcanvas-close-button" type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body" v-if="submissionForm.competition">
                <div class="alert alert-danger" v-if="submissionForm.validationFailures.length">
                    Please fix the following issues:
                    <ul>
                        <li v-for="failure in submissionForm.validationFailures">
                            {{ failure }}
                        </li>
                    </ul>
                </div>
                <div class="mb-3">
                    <p class="form-label">Platform</p>
                    <div class="form-check" v-for="platform in submissionForm.competition.platforms">
                        <input class="form-check-input" type="radio" name="platform"
                               :value="platform"
                               :id="`submission-form-platform-${platform}`"
                               v-model="submissionForm.platform">
                        <label class="form-check-label" :for="`submission-form-platform-${platform}`">
                            {{ platform }}
                        </label>
                    </div>
                </div>
                <div class="row total-time">
                    <div class="col-12">
                        <p class="form-label">Total Time</p>
                    </div>
                    <div class="col-md-6">
                        <div class="input-group mb-3">
                            <input type="number" class="form-control"
                                   placeholder="47"
                                   aria-label="Total duration (minutes only)"
                                   v-model="submissionForm.durationMinutes">
                            <span class="input-group-text">minutes</span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="input-group mb-3">
                            <input type="number"
                                   class="form-control"
                                   aria-label="Total duration (seconds only)"
                                   placeholder="47"
                                   v-model="submissionForm.durationSeconds">
                            <span class="input-group-text">seconds</span>
                        </div>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="submission-score" class="form-label">Total Score</label>
                    <input type="number" class="form-control" id="submission-score" placeholder="888888" v-model="submissionForm.totalScore">
                </div>
                <div class="mb-3">
                    <p class="form-label">Video URL(s)</p>
                    <input v-for="videoUrl in submissionForm.videoUrls" type="text"
                           class="form-control"
                           placeholder="https://youtube.com/..."
                           v-model="videoUrl.value">
                    <button class="btn btn-primary add-another-video" @click="submissionForm.videoUrls.push({value: ''})">Add Another Link</button>
                </div>
                <button ref="submitButton" class="btn btn-success" @click="submitSubmission">Submit</button>
            </div>
        </div>
    </server-member-wrapper>
</template>

<script>
import ServerMemberWrapper from "../../ServerMemberWrapper.vue";
import {useCookies} from "vue3-cookies";
import AccordionLoader from "../../components/AccordionLoader.vue";
import Moment from "../../components/Moment.vue";
import ElapsedTimeDisplay from "../../components/ElapsedTimeDisplay.vue";
import StatusIndicator from "../../components/StatusIndicator.vue";
export default {
    name: "Competitions",
    components: {StatusIndicator, ElapsedTimeDisplay, Moment, AccordionLoader, ServerMemberWrapper},
    setup() {
        const {cookies} = useCookies();
        return {
            cookies
        }
    },
    data() {
        return {
            allOpenCompetitions: null,
            openUnsubmittedCompetitions: null,
            mySubmissions: null,
            submissionForm: {
                validationFailures: [],
                competition: null,
                platform: null,
                durationMinutes: null,
                durationSeconds: null,
                totalScore: null,
                videoUrls: [
                    {
                        value: ''
                    }
                ]
            }
        }
    },
    mounted() {
        this.fetchCompetitionsAndSubmissions();
    },
    methods: {
        fetchCompetitionsAndSubmissions() {
            this.allOpenCompetitions = null;
            this.openUnsubmittedCompetitions = null;
            this.mySubmissions = null;
            const competitionsPromise = this.$http.get(`${this.$apiDomain}/competitions`);
            const submissionsPromise = this.$http.get(`${this.$apiDomain}/submissions/@me`, {
                headers: {
                    'X-Discord-Token': this.cookies.get('discord-token')
                }
            });

            Promise.all([competitionsPromise, submissionsPromise]).then(results => {
                const competitionsResp = results[0];
                this.allOpenCompetitions = competitionsResp.data;
                const submissionsResp = results[1];

                // 1. Remove expired competitions
                let openCompetitions = competitionsResp.data.filter(x => new Date() < new Date(x.endTime));

                // 2. Remove open competitions that the user has submitted to
                openCompetitions = openCompetitions.filter(x => !submissionsResp.data.some(y => y.competitionId === x.id));

                this.openUnsubmittedCompetitions = openCompetitions;
                this.mySubmissions = submissionsResp.data;
            });
        },
        editSubmission(submission) {
            this.submissionForm.validationFailures = [];
            this.submissionForm.competition = this.allOpenCompetitions.find(x => x.id === submission.competitionId);
            this.submissionForm.platform = submission.platform;
            this.submissionForm.durationMinutes = parseInt(submission.durationInSeconds / 60, 10);
            this.submissionForm.durationSeconds = submission.durationInSeconds % 60;
            this.submissionForm.totalScore = submission.score;
            this.submissionForm.videoUrls = [];
            for (const video of submission.videoUrls) {
                this.submissionForm.videoUrls.push({
                    value: video
                });
            }
        },
        beginSubmission(competition) {
            this.submissionForm.validationFailures = [];
            this.submissionForm.competition = competition;
            this.submissionForm.platform = null;
            this.submissionForm.durationMinutes = null;
            this.submissionForm.durationSeconds = null;
            this.submissionForm.totalScore = null;
            this.submissionForm.videoUrls = [
                {
                    value: ''
                }
            ];
        },
        submitSubmission() {
            // region Validation
            this.submissionForm.validationFailures = [];
            if (!this.submissionForm.platform) {
                this.submissionForm.validationFailures.push('Platform is required.');
            }
            if (this.submissionForm.durationMinutes !== null && isNaN(parseInt(this.submissionForm.durationMinutes, 10))) {
                this.submissionForm.validationFailures.push('Duration (minutes) must a valid integer.');
            }
            if (this.submissionForm.durationSeconds === null || isNaN(parseInt(this.submissionForm.durationSeconds, 10))) {
                this.submissionForm.validationFailures.push('Duration (seconds) is required.');
            }
            if ((parseInt(this.submissionForm.durationMinutes, 10) * 60) + parseInt(this.submissionForm.durationSeconds, 10) === 0) {
                this.submissionForm.validationFailures.push('0 second runs are impossible and therefore prohibited.');
            }
            if (this.submissionForm.totalScore === '' || this.submissionForm.totalScore < 0) {
                this.submissionForm.validationFailures.push('Total score is required and must be non-negative.');
            }
            if (!this.submissionForm.videoUrls.some(x => x.value.trim() !== '')) {
                this.submissionForm.validationFailures.push('At least one video URL is required.');
            }
            if (this.submissionForm.validationFailures.length) {
                return;
            }
            // endregion

            const data = {
                platform: this.submissionForm.platform,
                durationInSeconds: (parseInt(this.submissionForm.durationMinutes, 10) * 60) + parseInt(this.submissionForm.durationSeconds, 10),
                score: this.submissionForm.totalScore,
                videoUrls: this.submissionForm.videoUrls.map(x => x.value)
            };

            this.updateDisableStateForElement(this.$refs.submitButton, true);
            this.$http.post(`${this.$apiDomain}/competitions/${this.submissionForm.competition.id}/submissions`, data, {
                headers: {
                    'X-Discord-Token': this.cookies.get('discord-token')
                }
            }).then(_ => {
                this.updateDisableStateForElement(this.$refs.submitButton, false);
                document.getElementById('offcanvas-close-button').click();
                this.fetchCompetitionsAndSubmissions();
            }).catch(err => {
                alert('An error occurred when sending your submission.');
                this.updateDisableStateForElement(this.$refs.submitButton, false);
                console.error(err);
            });
        },
        updateDisableStateForElement(button, disabled) {
            if (!button) {
                return;
            }

            button.disabled = disabled;

            if (disabled) {
                button.classList.add('disabled');
            } else {
                button.classList.remove('disabled');
            }
        }
    }
}
</script>

<style lang="scss" scoped>
    .card + .card {
        margin-top: 10px;
    }

    .btn-link {
        padding-top: 0;
        padding-bottom: 0;
    }

    .total-time {
        margin-top: 20px;
    }

    .add-another-video {
        margin-top: 10px;
    }
</style>
