<template>
    <p>{{ authStatus }}</p>
</template>

<script>
import { useCookies } from 'vue3-cookies';
export default {
    name: "Auth",
    data() {
        return {
            authStatus: 'Please wait...'
        }
    },
    setup() {
        const { cookies } = useCookies();
        return {
            cookies
        }
    },
    mounted() {
        // Discord callback
        const hashes = this.$route.hash.slice(1).split('&');
        const hashParameters = {};
        let hasParameters = false;
        hashes.forEach(param => {
            const splitParams = param.split('=');
            hashParameters[splitParams[0]] = splitParams[1];

            if (splitParams[0] === 'token_type' || splitParams[0] === 'access_token') {
                hasParameters = true;
            }
        });

        if (!hasParameters) {
            return;
        }

        const tokenHeader = `${hashParameters['token_type']} ${hashParameters['access_token']}`;
        this.$http.get(`${this.$apiDomain}/verify-discord`, {
            headers: {
                'x-discord-token': tokenHeader
            }
        }).then(_ => {
            this.cookies.set('discord-token', tokenHeader, `${hashParameters['expires_in']}s`);

            if (this.cookies.isKey('redirect-to')) {
                const redirectLocation = this.cookies.get('redirect-to');
                this.cookies.remove('redirect-to');
                window.location.href = `${this.$vueDomain}${redirectLocation}`;
            } else {
                window.location.href = '/';
            }
        }).catch(err => {
            if (err.response.status === 400) {
                this.authStatus = 'Discord verification failed. Ensure that you are an admin of the F7SC Discord server.'
            }
        });
    }
}
</script>

<style scoped>

</style>