<template>
    <template v-if="status === 'Pending'">
        <i class="bi-circle"></i> <template v-if="showText">Pending Verification</template>
    </template>
    <template v-if="status === 'Verified'">
        <i class="bi-check-circle-fill text-success"></i> <template v-if="showText">Verified</template>
    </template>
    <template v-if="status === 'Rejected'">
        <i class="bi-x-circle-fill text-danger"></i> <template v-if="showText">Rejected</template>
    </template>
</template>

<script>
export default {
    name: "StatusIndicator",
    props: {
        status: String,
        showText: Boolean
    }
}
</script>

<style scoped>

</style>