<script>
import {useCookies} from "vue3-cookies";

export default {
    name: "ThemeSwitcher",
    setup() {
        const { cookies } = useCookies();
        return {
            cookies
        }
    },
    props: {
        area: {
            type: String,
            required: false,
            default: 'member'
        }
    },
    data() {
        return {
            themeIcons: {
                auto: 'circle-half',
                light: 'brightness-high-fill',
                dark: 'moon-stars-fill'
            },
            refreshHack: 0
        }
    },
    computed: {
        themeIcon() {
            this.refreshHack;
            return this.themeIcons[this.getTheme()];
        }
    },
    mounted() {
        this.initTheme();
    },
    methods: {
        prefersDarkMode() {
            if (this.getTheme() === 'auto') {
                return window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches;
            }

            return this.getTheme() === 'dark';
        },
        initTheme() {
            const siteTheme = this.prefersDarkMode() ? 'dark' : 'light';
            document.querySelector('html').setAttribute('data-bs-theme', siteTheme);
            if (this.area === 'admin') {
                document.querySelector('body').classList.add('dark-theme');
            }

            this.refreshHack = new Date().getTime();
        },
        getTheme() {
            if (this.cookies.isKey('theme-preference')) {
                const themePreference = this.cookies.get('theme-preference');
                if (!['auto','dark','light'].includes(themePreference)) {
                    return 'auto';
                }

                return themePreference;
            }

            return 'auto';
        },
        setTheme(theme) {
            this.cookies.set('theme-preference', theme);
            this.initTheme();
        }
    }
}
</script>

<template>
    <div class="nav-item dropdown">
        <button class="btn btn-link dropdown-toggle theme-button" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="bi" :class="`bi-${themeIcon}`"></i>
        </button>
        <ul class="dropdown-menu">
            <li>
                <button class="dropdown-item" type="button" @click="setTheme('auto')">
                    <i class="bi" :class="`bi-${themeIcons.auto} opacity-50`"></i>
                    Auto
                </button>
            </li>
            <li>
                <button class="dropdown-item" type="button" @click="setTheme('light')">
                    <i class="bi" :class="`bi-${themeIcons.light} opacity-50`"></i>
                    Light
                </button>
            </li>
            <li>
                <button class="dropdown-item" type="button" @click="setTheme('dark')">
                    <i class="bi" :class="`bi-${themeIcons.dark} opacity-50`"></i>
                    Dark
                </button>
            </li>
        </ul>
    </div>
</template>

<style scoped lang="scss">
.theme-button {
    text-decoration: none;
    color: inherit;
}
</style>