<template>
    <admin-wrapper :parent-pages="parentPage" :current-page="competitionName">
        <div class="card">
            <div class="card-header">
                {{ competitionName }}
            </div>
            <div class="card-body">
                <accordion-loader v-if="competition === null"/>
                <template v-else>
                    <ul class="nav nav-tabs">
                        <li class="nav-item" v-for="platform in competition.platforms">
                            <a class="nav-link"
                               :class="platform === selectedPlatform ? 'active' : ''"
                               href="#"
                               @click="selectPlatform(platform)">
                                {{ platform }}
                            </a>
                        </li>
                    </ul>
                    <div class="accordion" id="submissions-accordion">
                        <p v-if="!competition.submissions.some(x => x.platform === selectedPlatform)">No submissions found</p>
                        <div class="accordion-item" v-for="(submission, index) in competition.submissions.filter(x => x.platform === selectedPlatform)">
                            <h2 class="accordion-header" :id="`heading-${index}`">
                                <button class="accordion-button"
                                        :class="selectedSubmission !== submission ? 'collapsed' : ''"
                                        type="button"
                                        data-coreui-toggle="collapse"
                                        :data-coreui-target="`collapse-${index}`" @click="setCurrentSubmission(submission)">
                                    <status-indicator :status="submission.status" />&nbsp;
                                    {{ submission.discordName }} - {{ submission.score }} (<elapsed-time-display :duration-in-seconds="submission.durationInSeconds"/>)
                                </button>
                            </h2>
                            <div :id="`collapse-${index}`"
                                 class="accordion-collapse collapse"
                                 :class="selectedSubmission === submission ? 'show' : ''"
                                 :aria-labelledby="`heading-${index}`"
                                 data-coreui-parent="submissions-accordion">
                                <div class="accordion-body">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <ul class="list-unstyled">
                                                <li><b>Status:</b> <status-indicator :status="submission.status" show-text/></li>
                                                <li><b>Total Time:</b> <elapsed-time-display :duration-in-seconds="submission.durationInSeconds"/></li>
                                                <li><b>Score:</b> {{ submission.score }}</li>
                                            </ul>
                                        </div>
                                        <div class="col-md-9">
                                            <b>Video(s)</b>
                                            <div class="row">
                                                <div class="col-md-4 video-container" v-for="video in submission.videoUrls">
                                                    <youtube-embed :url="video"/>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col verdict-buttons">
                                            <template v-if="submission.status === 'Pending'">
                                                <button ref="verifyButton" class="btn btn-success" @click="approveSubmission(submission)">
                                                    Verify
                                                </button>
                                                <button ref="rejectButton" class="btn btn-danger" @click="rejectSubmission(submission)">
                                                    Reject
                                                </button>
                                            </template>
                                            <template v-else>
                                                <button ref="resetButton" class="btn btn-primary" @click="resetSubmission(submission)">
                                                    Reset to Pending Verification
                                                </button>
                                            </template>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </template>
            </div>
        </div>
    </admin-wrapper>
    <toasts ref="toasts"/>
</template>

<script>
import AdminWrapper from "../../AdminWrapper.vue";
import {useCookies} from "vue3-cookies";
import Toasts from "../../components/Toasts.vue";
import AccordionLoader from "../../components/AccordionLoader.vue";
import StatusIndicator from "../../components/StatusIndicator.vue";
import YoutubeEmbed from "../../components/YoutubeEmbed.vue";
import ElapsedTimeDisplay from "../../components/ElapsedTimeDisplay.vue";
export default {
    name: "ViewCompetitionSubmissions",
    setup() {
        const {cookies} = useCookies();
        return {
            cookies
        }
    },
    components: {ElapsedTimeDisplay, YoutubeEmbed, StatusIndicator, AccordionLoader, Toasts, AdminWrapper},
    props: {
        competitionId: String
    },
    computed: {
        competitionName() {
            return this.competition ? this.competition.name : 'Loading...';
        }
    },
    data() {
        return {
            parentPage: [
                {
                    route: '/admin/competitions',
                    name: 'Competitions'
                }
            ],
            competition: null,
            selectedPlatform: null,
            selectedSubmission: null
        };
    },
    mounted() {
        this.fetchSubmissions();
    },
    methods: {
        fetchSubmissions() {
            this.competition = null;
            this.selectedPlatform = null;
            this.selectedSubmission = null;
            this.$http.get(`${this.$apiDomain}/competitions/${this.competitionId}`, {
                headers: {
                    'X-Discord-Token': this.cookies.get('discord-token')
                }
            }).then(resp => {
                this.competition = resp.data;
                this.selectedPlatform = this.competition.platforms[0];
            }).catch(err => {
                this.$refs.toasts.error('An error occurred while fetching submissions');
                console.error(err);
            });
        },
        setCurrentSubmission(submission) {
            if (this.selectedSubmission === submission) {
                this.selectedSubmission = null;
            } else {
                this.selectedSubmission = submission;
            }
        },
        selectPlatform(platform) {
            this.selectedPlatform = platform;
            this.selectedSubmission = null;
        },
        approveSubmission(submission) {
            this.updateSubmission(submission, 'Verified');
        },
        updateSubmission(submission, state) {
            this.updateDisableStateForElement(this.$refs.verifyButton, true);
            this.updateDisableStateForElement(this.$refs.rejectButton, true);
            this.updateDisableStateForElement(this.$refs.resetButton, true);
            const data = {
                fingerprint: submission.fingerprint,
                newStatus: state
            };

            this.$http.patch(`${this.$apiDomain}/competitions/${this.competitionId}/submissions/${this.selectedSubmission.id}`, data, {
                headers: {
                    'X-Discord-Token': this.cookies.get('discord-token')
                }
            }).then(resp => {
                this.selectedSubmission.status = data.newStatus;
                this.selectedSubmission.fingerprint = resp.data.newFingerprint;
                this.$refs.toasts.success('Submission has been updated.');
                this.updateDisableStateForElement(this.$refs.verifyButton, false);
                this.updateDisableStateForElement(this.$refs.rejectButton, false);
                this.updateDisableStateForElement(this.$refs.resetButton, false);
            }).catch(err => {
                if (err.response.status === 409) {
                    this.$refs.toasts.warning('Submission has been modified since this page was loaded.  Reloading...');
                    this.fetchSubmissions();
                } else {
                    this.$refs.toasts.error('An error occurred when trying to update the submission.');
                    console.error(err);
                }
                this.updateDisableStateForElement(this.$refs.verifyButton, false);
                this.updateDisableStateForElement(this.$refs.rejectButton, false);
                this.updateDisableStateForElement(this.$refs.resetButton, false);
            });
        },
        rejectSubmission(submission) {
            this.updateSubmission(submission, 'Rejected');
        },
        resetSubmission(submission) {
            this.updateSubmission(submission, 'Pending');
        },
        updateDisableStateForElement(button, disabled) {
            if (!button || !button.length) {
                return;
            }

            const actualElement = button[0];
            actualElement.disabled = disabled;

            if (disabled) {
                actualElement.classList.add('disabled');
            } else {
                actualElement.classList.remove('disabled');
            }
        }
    }
}
</script>

<style lang="scss" scoped>
.card {
    margin-top: 10px;

    .verdict-buttons > button + button {
        margin-left: 10px;
    }
}
</style>