<template>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container">
            <router-link class="navbar-brand" to="/member">
                F7SC Admin
            </router-link>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <router-link class="nav-link" to="/admin">
                            Home
                        </router-link>
                    </li>
                    <li class="nav-item">
                        <router-link to="/admin/winners-club-contracts" class="nav-link">
                            Winner's Club Contracts
                        </router-link>
                    </li>
                    <li class="nav-item">
                        <router-link to="/admin/competitions" class="nav-link">
                            Competitions
                        </router-link>
                    </li>
                </ul>
                <div class="d-flex">
                    <theme-switcher/>
                    <div class="nav-item">
                        <button class="btn btn-outline-primary" @click="logout">
                            Logout
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <nav class="breadcrumbs bg-body-secondary" aria-label="breadcrumb">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item" :class="!currentPage ? 'active' : ''">
                    <router-link to="/admin" v-if="currentPage">
                        Home
                    </router-link>
                    <template v-else>Home</template>
                </li>
                <li class="breadcrumb-item" v-for="parent in parentPages">
                    <router-link :to="parent.route">{{ parent.name }}</router-link>
                </li>
                <li v-if="currentPage" class="breadcrumb-item active">{{ currentPage }}</li>
            </ol>
        </div>
    </nav>
    <div class="container" v-if="loggedIn">
        <slot></slot>
    </div>
</template>
<script>
import 'bootstrap';
import { useCookies } from 'vue3-cookies';
import 'bootstrap/dist/css/bootstrap.min.css';
import "bootstrap-icons/font/bootstrap-icons.css";
import ThemeSwitcher from "@/components/ThemeSwitcher.vue";

export default {
    name: "AdminWrapper",
    components: {ThemeSwitcher},
    setup() {
        const { cookies } = useCookies();
        return {
            cookies
        }
    },
    props: {
        parentPages: Array,
        currentPage: String|null
    },
    data() {
        return {
            loggedIn: false,
            sidebarVisible: true
        }
    },
    mounted() {
        this.loggedIn = this.cookies.isKey('discord-token');
        if (!this.loggedIn) {
            this.cookies.set('redirect-to', '/admin');
            window.location.href = `https://discord.com/api/oauth2/authorize?client_id=705254372258349127&redirect_uri=${encodeURI(this.$vueDomain)}%2Fauth&response_type=token&scope=identify`;
        }
    },
    methods: {
        logout() {
            this.cookies.remove('discord-token');
            window.location.href = '/';
        }
    }
}
</script>

<style lang="scss" scoped>
.sidebar-icon-end {
    margin-left: 5px;
    font-size: 1rem;
    width: 1rem;
    height: 1rem;
}

.sidebar-close-div {
    font-weight: bolder;
    cursor: pointer;

    &:hover {
        background: rgba(0, 0, 21, .4);
    }
}

.navbar {
    border-bottom: none;

    .header-toggler {
        color: var(--bs-body-color);
    }

    .header-divider {
        border-top: none;
    }

    a:hover {
        color: var(--bs-link-hover-color-rgb);
    }
}

.breadcrumbs {
    .breadcrumb {
        padding-top: 10px;
        padding-bottom: 10px;
    }
}
</style>